.tit-kim {
  font-size: 26px;
}

.description-kim {
  font-size: 15px;
  color: #666;
  margin-top: 10px;
}

.tit-margin-kim {
  margin: 80px auto 30px;
}

.title-kim {
  display: block;
}

.item_text {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}
.price {
  font-size: 22px;
  display: inline-block;
}

.adv {
  display: inline-block;
}

.adv span {
  border: 1px solid #333;
  color: #333;
  background: #fff;
  padding: 3px 9px;
  font-size: 13px;
}
