.swiper {
    width: 160px;
    height: 25px;
    margin: 9px 0 0 4px;
  }

  .swiper-slide{
    font-size: 13px;
  }

  nav{
    font-size: 12px;
    letter-spacing: -0.3px;
    font-family: 'Pretendard', 'AppleSDGothicNeo', 'AppleSDGothicNeo-Regular', 'Apple Gothic', 'Malgun Gothic', Arial, Helvetica, serif, sans-serif;
  }

  .nav-first-o{
    padding: 1.5em 0;
  }

  .nav-first-o a{
    text-decoration: none;
    color: black;
  }

  .nav-first-o a:hover{
    color: #5e2bb8;
  }

  .nav-second-o{
    display: flex;
    justify-content: space-between;
  }

  .nav-second-o a{
    text-decoration: none;
    color: black;
  }

  .nav-first-box-o{
    display: flex;
    justify-content: space-between;
  }

  .input-box{
    float: left;
    margin: 1px 0 0 30px;
    width: 410px;
    height: 44px;
    border-radius: 100px;
    border: solid 2px #111;
    padding-left: 15px;
}

::placeholder{
    color: gray;
    font-size: 14px;
    font-weight: 400;
}

.nav-badge-o{
    background-color: #FFFFFF;
    color: #5e2bb8;
    border: 1px solid #5e2bb8;
}

.nav-button-o>a:hover{
    color: #5e2bb8;
}

.menubar-o{
    border-top: 2px solid #ddd;
    border-bottom: 2px solid gray;
    height: 57px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: font-family: 'Pretendard', 'AppleSDGothicNeo', 'AppleSDGothicNeo-Regular', 'Apple Gothic', 'Malgun Gothic', Arial, Helvetica, serif, sans-serif;
}

.menubar-o a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.menubar-o a:hover{
    color: #5e2bb8;
}

li>a{
}

li>a:hover{
    border-bottom: 2.3px solid #5e2bb8;
}

.btn{
    padding: 1rem;
}
/* 삭제해야하는 속성 */
.firstArea_park{
    height: 1500px;
    background-color: black;
    color: antiquewhite;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middleNavbar_park{
    background-color: #446BDA;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbarButton_park{
    width: 180px;
    height: 80px;
    padding: 0 24px;
    background-color: transparent;
    border: 0;
    color: #aaa;
    font-family: 'Pretendard', 'AppleSDGothicNeo', 'AppleSDGothicNeo-Regular', 'Apple Gothic', 'Malgun Gothic', Arial, Helvetica, serif, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.25;
}
.navbarButton_park a{
    text-decoration: none;
}
.navbarButton_park.active{
    background-color: #11111199;
    color: #FFFF;
    font-weight: bold;
}
.middleNavbar_park.hidden {
    opacity: 0;
    visibility: hidden;
}
.cardContainer_park{
    max-width: 270px;
}
.cardImg_park{
    border-radius: 20px;
}
.card_park{
    border: 0;
}
.cardTitle_park{
    color: #682fca;
}
.cardText_park{
    font-size: 20px;
    color: #111;
}
.benefit_park{
    font-size: 14px;
    margin: -2px 0 0 -2px;
}
.point1_park{
    color: #ff299c;
    font-size: 13px;
    background: #f2f2f3;
    border-radius: 4px;
    margin: 2px 0 0 2px;
    padding: 0 8px;
    white-space: nowrap
}
.point2_park{
    color: #7d7886;;
    font-size: 13px;
    background: #f2f2f3;
    border-radius: 4px;
    margin: 2px 0 0 2px;
    padding: 0 8px;
    white-space: nowrap
}
.bevorprice_park{
    color: #999;
    font-size: 14px;
}
.dicount_park{
    font-size: 22px;
    color: #ff299c;
    margin-right: 4px;
}
.option_park{
    font-size: 14px;
    color: #666666; 
}
.optionSecond_park{
    color: #aaa;
}
.optionSecond_park:before{
    content: "|";
}
.lastText_park{
    font-size: 27px;
    white-space: nowrap; 
    transform: scale(0.8); 
    transform-origin: left center; 
}